@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family:  'Montserrat', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
*,
*:before,
*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*:root represents the <html> element. Specificity is higher*/
:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #ff3c78;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 1rem 2%;
    background-color: black;
    display: flex;
    align-items:  center;
    z-index: 100;
}
@media only screen and (max-width:400px){
    .card{
        width:90%;
        height:90%;
    }
}

@media only screen and (max-width:800px){
    .card{
        width:90%;
        height:90%;
    }
}

.three-col{
    display: grid;
    grid-template-columns: 740px 510px 50px;
    grid-template-rows: 50px;
}
.three-col div{
    border: 1px solid black;
}

.myLogo{
    font-size: 2.5rem;
    color:var(--main-color);
    font-weight: bolder;
    cursor: pointer;
}
.myLogo:hover{
    color: #fdfdfd;
}
/*.myLogo:hover:after{
    font: #fdfdfd;
}*/
.naviBar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.4rem;
}

a{
    position:relative;
    text-decoration: none;
}
a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
}
a:hover:after{

    width:100%;

}
/*.naviBar a.active::before{
    content:'';
    position: absolute;
    left:0;
    bottom:-6px;
    width:70px;
    height: .2rem;
    background: var(--white-color);
}*/
#moon-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
#moon-icon:hover{
    color:  #ff3c78;
}

